function Display.init 0
push constant 0
pop static 0
push constant 0
pop static 1
push constant 0
return
function Display.newline 0
push argument 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 0
push static 1
push constant 0
call Display.fillChar 3
pop temp 0
label IF_FALSE0
push constant 0
pop static 1
push static 0
call Constants.SCREEN_HEIGHT 0
push constant 1
sub
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 0
push constant 1
add
pop static 0
goto IF_END1
label IF_FALSE1
call Display.scrollUp 0
pop temp 0
label IF_END1
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push static 0
push static 1
push constant 0
not
call Display.fillChar 3
pop temp 0
push constant 0
return
function Display.printString 2
push constant 0
pop local 0
push argument 0
call String.length 1
pop local 1
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push argument 0
push local 0
call String.charAt 2
call Display.prch 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push static 0
push static 1
push constant 0
not
call Display.fillChar 3
pop temp 0
push constant 0
return
function Display.printChar 0
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push argument 0
call Display.prch 1
pop temp 0
push static 0
push static 1
push constant 0
not
call Display.fillChar 3
pop temp 0
push constant 0
return
function Display.prch 0
push static 1
call Constants.SCREEN_WIDTH 0
push constant 1
sub
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call Output.printChar 1
pop temp 0
push static 1
push constant 1
add
pop static 1
goto IF_END0
label IF_FALSE0
push constant 0
pop static 1
push static 0
call Constants.SCREEN_HEIGHT 0
push constant 1
sub
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
call Output.printChar 1
pop temp 0
push static 0
push constant 1
add
pop static 0
goto IF_END1
label IF_FALSE1
call Display.scrollUp 0
pop temp 0
call Constants.SCREEN_HEIGHT 0
push constant 2
sub
call Constants.SCREEN_WIDTH 0
push constant 1
sub
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printChar 1
pop temp 0
label IF_END1
label IF_END0
push constant 0
return
function Display.read 1
call Keyboard.keyPressed 0
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
if-goto WHILE_END0
push constant 2
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
call Keyboard.keyPressed 0
push local 0
eq
not
if-goto WHILE_END1
push constant 2
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 0
return
function Display.readLine 3
push constant 0
pop local 0
call Display.read 0
pop local 1
call Constants.MAX_LINE 0
call String.new 1
pop local 2
label WHILE_EXP0
push local 0
call Constants.MAX_LINE 0
lt
push local 1
push constant 128
eq
not
and
not
if-goto WHILE_END0
push local 1
push constant 129
eq
push local 0
push constant 0
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
call String.length 1
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
call String.eraseLastChar 1
pop temp 0
call Display.backspace 0
pop temp 0
label IF_FALSE1
goto IF_END0
label IF_FALSE0
push local 1
call Util.lowerCaseChar 1
pop local 1
push local 1
call Display.printChar 1
pop temp 0
push local 2
push local 1
call String.appendChar 2
pop temp 0
label IF_END0
call Display.read 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
call Display.newline 1
pop temp 0
push local 2
return
function Display.backspace 0
push static 0
push static 1
push constant 0
call Display.fillChar 3
pop temp 0
push static 1
push constant 0
eq
push static 0
push constant 0
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push static 1
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 1
push constant 1
sub
pop static 1
goto IF_END1
label IF_FALSE1
call Constants.SCREEN_WIDTH 0
push constant 1
sub
pop static 1
push static 0
push constant 1
sub
pop static 0
label IF_END1
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push static 0
push static 1
push constant 0
not
call Display.fillChar 3
pop temp 0
push constant 0
return
function Display.scrollUp 5
call Constants.CHAR_WIDTH 0
call Constants.SCREEN_WIDTH 0
call Math.multiply 2
call Constants.CHAR_HEIGHT 0
call Math.multiply 2
push constant 16
call Math.divide 2
pop local 2
call Constants.SCREEN 0
pop local 0
call Constants.SCREEN 0
push local 2
add
pop local 1
call Constants.SCREEN 0
push local 2
call Constants.SCREEN_HEIGHT 0
push constant 1
sub
call Math.multiply 2
add
pop local 3
label WHILE_EXP0
push local 0
push local 3
lt
not
if-goto WHILE_END0
push local 0
push local 4
add
push local 1
push local 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push local 0
push local 1
lt
not
if-goto WHILE_END1
push local 0
push local 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Display.fillChar 6
call Constants.CHAR_WIDTH 0
call Constants.SCREEN_WIDTH 0
call Math.multiply 2
push constant 16
call Math.divide 2
pop local 2
push local 2
call Constants.CHAR_HEIGHT 0
call Math.multiply 2
pop local 1
push argument 0
push local 1
call Math.multiply 2
push argument 1
call Constants.CHAR_WIDTH 0
call Math.multiply 2
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push local 2
add
pop local 0
push constant 1
pop local 3
label WHILE_EXP0
push local 3
call Constants.CHAR_HEIGHT 0
lt
not
if-goto WHILE_END0
call Constants.SCREEN 0
push local 0
add
push local 5
add
pop pointer 1
push that 0
pop local 4
push argument 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 1
and
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 255
push local 4
or
pop local 4
goto IF_END1
label IF_FALSE1
push constant 255
push constant 256
call Math.multiply 2
push local 4
or
pop local 4
label IF_END1
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
and
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 255
push constant 256
call Math.multiply 2
push local 4
and
pop local 4
goto IF_END2
label IF_FALSE2
push constant 255
push local 4
and
pop local 4
label IF_END2
label IF_END0
call Constants.SCREEN 0
push local 0
add
push local 5
add
push local 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push local 2
add
pop local 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Display.clear 5
call Constants.CHAR_WIDTH 0
call Constants.SCREEN_WIDTH 0
call Math.multiply 2
push constant 16
call Math.divide 2
pop local 0
call Constants.CHAR_HEIGHT 0
call Constants.SCREEN_HEIGHT 0
call Math.multiply 2
pop local 1
call Constants.SCREEN 0
pop local 2
push local 2
push local 0
push local 1
call Math.multiply 2
add
pop local 3
label WHILE_EXP0
push local 2
push local 3
lt
not
if-goto WHILE_END0
push local 2
push local 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop static 0
push constant 0
pop static 1
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push constant 0
return
